<div class="d-flex justify-content-around bg-dark text-secondary pb-2 d-none d-lg-flex">
    <div class=" ">Hyderabad</div>
    <div class="">Mumbai</div>
    <div class="">Banglore</div>
</div>
<div class="container-fluid mt-3 text-center">
      <h1 class="text-center p-4 font-monospace">Hotel Management System</h1>
      <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>THE RISING STAR ⭐⭐⭐</h1> 
        <hr>
        <h5 class="fw-light">Chilling out on the bed in your hotel room watching television, while wearing your own pajamas is sometimes the best part of a vacation</h5>
      </div>
</div>

