<div class="container">
    <h1 class="text-center fw-bold text-dark m-4 p-4">About</h1>
        <div class="row text-center">
            <div class="col-md-6">
                <img class="img-fluid" src="../../../assets/hotel11.jpeg" alt="some random image">
            </div>
            <div class="col">
                <h1 class="text-secondary">
                    Hotel for covid-19 Emergency
                </h1>
                <p class="text-secondary fst-italic lh-lg">Dear AboutMyHotel User, Due the COVID-19 (Coronavirus) emergency, we would like to inform our customers and collaborators that AboutMyHotel will continue to provide our services, with the safety of team members and collaborators as a priority.Our staff are already working remotely to better support the functioning of business activities during this period. </p>
            </div>
        </div>
</div>

